*.map
*.mem
*.prof
/.mypy_cache/
/.vscode/
**/build/
# /data/
/latest_log_dir
/latest_log_file

/logs/*
!/logs/2023.11.20-100437
!/logs/2023.11.20-102758

/ninja-python-distributions
/pip-selfcheck.json
/sensitivity.csv
/sensitivity.png
/tensorflow/
/weights_sparsity.csv
**/__pycache__/
/super-linter.log
/super-linter.report
/venv*/
/typings/
